    </main>

    <footer class="pt-5 my-5 text-muted border-top">
      Created by Sergio Gomes &middot; &copy; 2022
    </footer>
  </div>


  <script src="../../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
