<%- include('../partials/header') %>
    
<h1>This is the title</h1>
<p class="fs-5 col-md-8">This is the description</p>

<div class="mb-5">
  <a href="examples/" class="btn btn-primary btn-lg px-4">This is a button</a>
</div>

<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
  <div class="col-md-6">
    <h2>Node Tabuada</h2>
    <p>Generate the multiplication table of a number from 1 to 100.</p>
    <ul class="icon-list">
      <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
      <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
    </ul>
  </div>
  
  <div class="col-md-6">
    <h2>Guides</h2>
    <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
    <ul class="icon-list">
      <li><a href="getting-started/introduction/">Bootstrap quick start guide</a></li>
      <li><a href="getting-started/webpack/">Bootstrap Webpack guide</a></li>
      <li><a href="getting-started/parcel/">Bootstrap Parcel guide</a></li>
      <li><a href="getting-started/contribute/">Contributing to Bootstrap</a></li>
    </ul>
  </div>
</div>

<%- include('../partials/footer') %>
