<%- include('../partials/header') %>
    
<h1>Node Tabuada</h1>
<p class="fs-5 col-md-8">Click here to go to the multiplication table page</p>

<div class="mb-5">
  <a href="tabuadas" class="btn btn-primary btn-lg px-4">Multiplication Table</a>
</div>

<%- include('../partials/footer') %>
