<%- include('../../partials/header') %>
    
<div class="row g-5">
  <div class="col-md-6">
    <h2>Node Tabuada</h2>
    <p>Generate the multiplication table of a number from 1 to 100.</p>
    <ul class="icon-list">
      <% for(let i = 1; i <= 100; i++) { %>
        <li><a href="tabuadas/for/<%= i %>">Multiplication table for <%= i %></a></li>
      <% } %>
    </ul>
  </div>
</div>

<%- include('../../partials/footer') %>
